.top-buffer {
  margin-top: 25px;
}

.bottom-buffer {
  margin-bottom: 20px;
}

input.ng-invalid.ng-dirty {
  border-color: red;
  background-color: #ffcccc;
}

.tabset {
  border: 1px solid grey;
  padding: 10px;
}

.inputSpecialtyName {
  width: 70% !important;
}
.inputSpecialty {
  width: 30% !important;
  border-right-width: 0;
}
.inputSpecialty:focus {
  width: 30%;
  border-right-width: 1px;
}

.ui-select-match-text {
  width: 100%;
  overflow: hidden;
}
.ui-select-toggle {
  padding-right: 35px;
}
.timeperiod {
  margin-top: 20px;
}
.ng-table-counts.btn-group.pull-right.ng-scope{
  margin: 20px 5px 20px 5px;
}

.pagination.ng-table-pagination{
  margin: 20px 5px 20px 5px;
}

