.top-buffer {
  margin-top: 25px;
}

.bottom-buffer {
  margin-bottom: 20px;
}

input.ng-invalid.ng-dirty {
  border-color: red;
  background-color: #ffcccc;
}

.tabset {
  border: 1px solid grey;
  padding: 10px;
}

.photo {
  margin-top: 20px;
}

.inputSpecialtyName {
  width: 70% !important;
}

.inputSpecialty {
  width: 30% !important;
  border-right-width: 0;
}

.inputSpecialty:focus {
  width: 30%;
  border-right-width: 1px;
}

.ui-select-match-text {
  width: 100%;
  overflow: hidden;
}

.ui-select-toggle {
  padding-right: 35px;
}

.timeperiod {
  margin-top: 20px;
}
.ng-table-counts.btn-group.pull-right.ng-scope{
  margin: 20px 5px 20px 5px;
}
.pagination.ng-table-pagination{
  margin: 20px 5px 20px 5px;
}

#mainTable {
  padding-bottom: 20px;
}

#spinnerDiv {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background-color: white;
  opacity: .6;
}

.spinner {
  position: absolute;
  width: 100px;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
  display: block;
}

table td a:hover {
  cursor: pointer;
}

.buttonForCollapse {width: 100%}

 /* Modal layout for choosing table fields in /list-person/ */

@media (max-width: 1250px) {
  .panel-title {
    font-size: 12px;
  }
}

/* General table direcive  */

.pointer tr {
  cursor: pointer;
}
.table-footer .pagination-sm{
  margin: 0;
}

.content-data_manage-buttons {
  min-width: 93px;
  text-align: center;
}

/* table header */
.content-data a:hover {
  cursor: pointer;
  text-decoration: none;
}
#dictionariesTable {
  padding: 0 1% 0 1%
}

#dictionariesTable {
  padding: 0 1% 0 1%
}
#subjPlus {
  top: 25px
}
.adminunits {
  display: inline;
}

.form-signin {
  max-width: 330px;
  margin: 0 auto;
  padding-top: 10%;
}
.form-signin #inputLogin {
  margin-bottom: -1px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.form-signin #inputPassword {
  margin-bottom: -1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.btn-xs {
  min-width: 24px;
}
.editing {
  min-width: 70px;
}

#select {
  margin: 10px 0 10px 0;
  height: 34px;
}

#copyProgressbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
