<div class="modal-header">
  <h3 class="modal-title">Оберіть потрібний напрям чи спеціальність</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12 text-center">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th class="text-center"><a>Шифр</a></th>
          <th class="text-center"><a>Назва</a></th>
        </tr>
        </thead>
        <tbody class="pointer">
        <tr ng-click="ok(result)" ng-repeat="result in results track by $index">
          <td>{{result.cipher}}</td>
          <td>{{result.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
