<div class="modal-header">
  <h3 class="modal-title">Додати предмет</h3>
</div>
<div class="modal-body">

  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputSubject" class="control-label col-xs-2">Предмет</label>

      <div class="col-md-10">
        <select ng-options="option as option.name for option in subjectName" class="form-control" name="genre"
                id="inputSubject" required ng-model="subject" ng-change="updateAdditionalSubjects(subject)">
          <!--<option ng-repeat="subject in subjectName">{{ subject.name }}</option>-->
        </select>
      </div>
    </div>

    <div class="form-group">

      <div class="col-md-10 col-md-offset-2">
        <div class="checkbox-inline">
          <label><input type="checkbox" ng-model="isMajor">Профільний</label>
        </div>
        <div class="checkbox-inline">
          <label><input type="checkbox" ng-model="alternative">Обов'язковий</label>
        </div>
      </div>
    </div>


    <div class="form-group" ng-show="subject.hasChildren">
      <label for="inputSmth" class="control-label col-xs-2">Додаткова назва</label>

      <div class="col-xs-10">
        <select ng-options="options as options.name for options in additionalSubjects"
                class="form-control"
                name="genre"
                id="inputSmth"
                ng-model="addName">
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="inputMinZno" class="control-label col-xs-2">Мінімальний бал ЗНО</label>

      <div class="col-xs-10">
        <input type="number" class="form-control" id="inputMinZno" placeholder="Мінімальний бал ЗНО" required
               ng-model="mark">
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-success" ng-click="ok()">OK</button>
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>


  </form>


</div>

