<div class="container-fluid">
  <div class="row bottom-buffer">
    <div class="col-md-3">
      <h2><i class="fa fa-graduation-cap text-danger"></i> Пропозиції</h2>
    </div>
    <div class="col-md-3 timeperiod">
      <select class="form-control"
              ng-model="timeperiod.timePeriodId"
              ng-options="opt.id as opt.name for opt in timeperiods">
        <option value="" disabled selected>Оберіть вступну кампанію</option>
      </select>
    </div>
    <div class="col-md-3 timeperiod">
        <button type="button" class="btn btn-primary" ng-click="pickTimePeriod()">Обрати</button>
    </div>

    <div class="col-md-3 timeperiod">
      <button  type="button" class="btn btn-primary pull-right" ng-click="sweeper()">
        Створити нову вступну кампанію
      </button>
      <div collapse="isCollapsed">
        <div class="well">
          <form name="myForm">
            <div>
              <label for="campaign">Вступна кампанія</label>
              <input
                type="number"
                class="form-control"
                id="campaign"
                placeholder="Введіть рік"
                name="campaign"
                min="2015"
                ng-model="numValue"
                required>
            </div>
            <div>
              <label for="begDate">Дата початку</label>
              <input type="text"
                     id = "begDate"
                     ng-model="begDate"
                     datepicker-popup="yyyy-MM-dd"
                     is-open="isOpen3"
                     ng-click = "isOpen3 = true"
                     ng-required="true"
                     close-text="Close"
                     class="form-control"
                     required
                     name="begDate"
                     placeholder="РРРР-MM-ДД" />
            </div>
            <div>
              <label for="endDate">Дата закінчення</label>
              <input type="text"
                     id = "endDate"
                     ng-model="endDate"
                     datepicker-popup="yyyy-MM-dd"
                     is-open="isOpen4"
                     ng-click = "isOpen4 = true"
                     ng-required="true"
                     close-text="Close"
                     class="form-control"
                     required
                     name="endDate"
                     placeholder="РРРР-MM-ДД" />
            </div>
          </form>

          <br/>

          <div>
            <button type="button" class="btn btn-primary" ng-click="createNewTimeperiod('lg')" ng-disabled="myForm.$invalid">Створити</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- main content -->
  <div ng-show="timeperiod.timePeriodId" class="row">

    <div class="col-sm-12 col-md-12 content-data">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <a ui-sref="root.specoffer.new.main" class="col-md-offset-1">
            <button type="button" class="btn btn-success "><i class="fa fa-plus"></i> Додати пропозицію</button>
         </a>

          <button type="button" class="pull-right btn btn-primary" ng-click="openFiltersModal('sm')"><i
            class="fa fa-bars "></i></button>
        </div>

        <!-- Table -->
        <div id="mainTable">
          <table ng-table="tableParams" show-filter="true" class="table table-hover">
            <thead>
            <tr>
              <td ng-repeat="column in headers" data-title="'column.display'" ng-show="column.visible" sortable="column.field">
                {{column.display}}
              </td>
            </tr>
            </thead>
            <tr ng-repeat="prop in $data">
              <td ng-repeat="column in headers" data-title="'column.display'" ng-show="column.visible" sortable="column.field">
                {{prop[column.name]}}
              </td>
              <td>
              <td class="editing">
              <a ui-sref="root.specoffer.edit.main({id:prop.id})">
                <button class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i></button>
                </a>
                <button class="btn btn-xs btn-danger" ng-click="deleteSpecoffer(prop.id)"><i class="fa fa-times"></i></button>
              </td>
            </tr>
          </table>
      </div>
    </div>

      <div class="footer">
    </div>
  </div>
</div>
</div>
