<div>
  <div class="form-group" ng-repeat="unit in adminUnits">
    <div class="row">
      <label class="col-md-2 control-label" ng-show="$index === 0">{{ label }}</label>

      <div class="col-md-4" ng-class="{'col-md-offset-2': $index > 0}">
        <ui-select
          ng-model="selected[$index]"
          on-select="selectUnit($index, $item.id)">

          <ui-select-match placeholder="Оберiть адмiнiстративну одиницю">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="item.id as item in unit | filter: $select.search">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</div>

