    <div ng-show="contacts[1].value" class="col-sm-4">
      <label for="phone">Мобільний телефон</label>
      <div class="bottom-buffer" id="phone">{{contacts[1].value}}</div>
    </div>

    <div ng-show="contacts[2].value" class="col-sm-4">
      <label for="mobilePhone">Мобільний телефон</label>
      <div class="bottom-buffer" id="mobilePhone">{{contacts[2].value}}</div>
    </div>

    <div ng-show="contacts[6].value" class="col-sm-4">
      <label for="homePhone">Домашній телефон</label>
      <div class="bottom-buffer" id="homePhone">{{contacts[6].value}}</div>
    </div>

    <div ng-show="contacts[7].value" class="col-sm-4">
      <label for="workPhone">Робочий телефон</label>
      <div class="bottom-buffer" id="workPhone">{{contacts[7].value}}</div>
    </div>

    <div ng-show="contacts[3].value" class="col-sm-4">
      <label for="email">E-mail</label>
      <div class="bottom-buffer" id="email">{{contacts[3].value}}</div>
    </div>

    <div ng-show="contacts[5].value" class="col-sm-4">
      <label for="skype">Skype</label>
      <div class="bottom-buffer" id="skype">{{contacts[5].value}}</div>
    </div>

    <div ng-show="contacts[8].value" class="col-sm-4">
      <label for="site">Веб-сайт</label>
      <div class="bottom-buffer" id="site">{{contacts[8].value}}</div>
    </div>

    <div ng-show="contacts[4].value" class="col-sm-4">
      <label for="ICQ">ICQ</label>
      <div class="bottom-buffer" id="ICQ">{{contacts[4].value}}</div>
    </div>
