<div class="form-group left-buffer">
  <div class="row">
    <div class="col-sm-4">
      <label for="phone">Мобільний телефон</label>
      <input ng-model="contacts[1].value"
             type="text"
             class="form-control"
             placeholder="(xxx) xxx-xx-xx"
             id="phone">
    </div>

    <div class="col-sm-4">
      <label for="mobilePhone">Мобільний телефон</label>
      <input ng-model="contacts[2].value"
             type="text"
             class="form-control"
             placeholder="(xxx) xxx-xx-xx"
             id="mobilePhone">
    </div>
  </div>
</div>

<div class="form-group left-buffer">
  <div class="row">
    <div class="col-sm-4">
      <label for="homePhone">Домашній телефон</label>
      <input ng-model="contacts[6].value"
             type="text"
             class="form-control"
             placeholder="(xxx) xxx-xx-xx"
             id="homePhone">
    </div>

    <div class="col-sm-4">
      <label for="workPhone">Робочий телефон</label>
      <input ng-model="contacts[7].value"
             type="text"
             class="form-control"
             placeholder="(xxx) xxx-xx-xx"
             id="workPhone">
    </div>
  </div>
</div>

<div class="form-group left-buffer">
  <div class="row">
    <div class="col-sm-4">
      <label for="email">E-mail</label>
      <input ng-model="contacts[3].value"
             type="text"
             class="form-control"
             placeholder="some@mail.com"
             id="email">
    </div>

    <div class="col-sm-4">
      <label for="skype">Skype</label>
      <input ng-model="contacts[5].value"
             type="text"
             class="form-control"
             placeholder="skype login"
             id="skype">
    </div>
  </div>
</div>

<div class="form-group left-buffer">
  <div class="row">
    <div class="col-sm-4">
      <label for="site">Веб-сайт</label>
      <input ng-model="contacts[8].value"
             type="text"
             class="form-control"
             placeholder="www.some-site.com"
             id="site">
    </div>

    <div class="col-sm-4">
      <label for="ICQ">ICQ</label>
      <input ng-model="contacts[4].value"
             type="text"
             class="form-control"
             placeholder="ICQ number"
             id="ICQ">
    </div>
  </div>
</div>
