<div class="table-responsive">
	<table class="table table-bordered table-hover ">
		<thead>
			<tr>
				<th ng-repeat="column in headers" ng-show="column.visible">
					<a>
						{{column.display}}
					</a>
				</th>
        <td ng-show="isChange"></td>
			</tr>
		</thead>
		<tbody class="pointer">
			<tr ng-repeat="itemObj in data">
				<td ng-repeat="column in headers"
				ng-show="column.visible"
				ng-click=""> {{itemObj[column.name]}}  </td>
        <td ng-show="isChange">
          <button class="btn btn-xs btn-warning"
                  ng-click="onChange({id: itemObj.id})">
            <i class="fa fa-pencil-square-o"></i>
          </button>
        </td>
			</tr>
		</tbody>
	</table>
</div>
