	<div class="form-group">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="form-group">
		      <ui-select ng-model="searchBy.departmentId"
		               name="inputStructure">
		      <ui-select-match placeholder="Оберіть структурний підрозділ для пошуку">{{$select.selected.name}}</ui-select-match>
		      <ui-select-choices repeat="item.id as item in departments | filter: $select.search">
		        <div ng-bind-html="item.name | highlight: $select.search"></div>
		      </ui-select-choices>
		    </ui-select>
				</div>
			</div>

			<div class="col-md-5 col-sm-6">
				<div class="form-group">
		      <ui-select ng-model="searchBy.specOfferTypeId"
		               name="inputStructure">
		      <ui-select-match placeholder="Оберіть форму навчання для пошуку">{{$select.selected.name}}</ui-select-match>
		      <ui-select-choices repeat="item.id as item in specoffertypes | filter: $select.search">
		        <div ng-bind-html="item.name | highlight: $select.search"></div>
		      </ui-select-choices>
		   	 </ui-select>				
				</div>
			</div>

			<div class="col-md-2">
		    <button ng-click="openModalSpecoffer('lg')" type="submit" class="btn btn-primary">Пошук</button>
			</div>

		</div>

		<simple-table data="selected" headers="headers"></simple-table> 

	</div>
