<div val-bubble-counter>
  <form id="movieForm" method="post" name="form_prop" class="form-horizontal top-buffer">
    <div class="row">
      <div class="col-md-10">

        <div class="form-group">
          <div class="row">
            <label class="col-md-2 control-label">Тип персони</label>

            <div class="col-md-4">
              <ui-select ng-model="entirePerson.person.personTypeId"
                         name="personTypeId"
                         required val-bubble
                         id="personTypeId">
                <ui-select-match placeholder="Оберiть тип персони">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="element.id as element in personsTypes | filter: $select.search">
                  <div ng-bind-html="element.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <div class="row">
            <label for="firstName" class="col-md-2 control-label">Iм'я</label>

            <div class="col-md-4">
              <input type="text"
                     id="firstName"
                     name="firstName"
                     ng-pattern="/^[а-яА-ЯіІєЄ\']*$/"
                     ng-model="entirePerson.person.firstName"
                     required
                     val-bubble
                     class="form-control"
                     placeholder="Iм'я"/>
            </div>

            <label for="firstNameEng" class="col-md-2 control-label">Iм'я (англ)</label>

            <div class="col-md-4">
              <input type="text"
                     id="firstNameEng"
                     ng-pattern="/^[a-zA-Z\']*$/"
                     ng-model="entirePerson.names[0].firstName"
                     required
                     val-bubble
                     class="form-control"
                     name="firstNameEng"
                     placeholder="Iм'я"/>
            </div>

          </div>
        </div>
        <div class="form-group ">
          <div class="row">

            <label for="surname" class="col-md-2 control-label">Прiзвище</label>

            <div class="col-md-4">
              <input type="text"
                     ng-model="entirePerson.person.surname"
                     id="surname"
                     ng-pattern="/^[а-яА-ЯіІєЄ\']*$/"
                     required
                     val-bubble
                     class="form-control"
                     name="surname"
                     placeholder="Прiзвище"/>
            </div>


            <label for="surnameEng" class="col-md-2 control-label">Прiзвище (англ)</label>

            <div class="col-md-4">
              <input type="text"
                     ng-model="entirePerson.names[0].surname"
                     id="surnameEng"
                     ng-pattern="/^[a-zA-Z\']*$/"
                     required
                     val-bubble
                     class="form-control"
                     name="surnameEng"
                     placeholder="Прiзвище"/>
            </div>

          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="fatherName" class="col-md-2 control-label">По-батьковi</label>

            <div class="col-md-4">
              <input type="text"
                     ng-model="entirePerson.person.fatherName"
                     required
                     val-bubble
                     class="form-control"
                     id="fatherName"
                     ng-pattern="/^[а-яА-ЯіІєЄ\']*$/"
                     name="fatherName"
                     placeholder="По-батьковi"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="photo" class="col-md-2 control-label">Завантажити фото</label>

            <div class="col-md-4">
              <input type="file"
                     ng-model="entirePerson.person.photo"
                     id="photo"
                     name="photo"
                     placeholder="фото"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-md-2 control-label">Стать</label>

            <div class="col-md-4">
              <ui-select ng-model="entirePerson.person.genderTypeId"
                         name="genderTypeId"
                         required
                         val-bubble
                         id="genderTypeId">
                <ui-select-match placeholder="Оберiть стать">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="element.id as element in genderTypes | filter: $select.search">
                  <div ng-bind-html="element.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>

            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-md-2 control-label">Сiмейний стан</label>

            <div class="col-md-4">

              <ui-select ng-model="entirePerson.person.marriedTypeId"
                         name="marriedTypeId"
                         required
                         val-bubble
                         id="marriedTypeId">
                <ui-select-match placeholder="Оберiть сiмейний стан">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="element.id as element in marriedTypes | filter: $select.search">
                  <div ng-bind-html="element.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>

            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-md-2 control-label">Громадянство</label>

            <div class="col-md-4">
              <ui-select ng-model="entirePerson.person.citizenCountryId"
                         name="citizenCountryId"
                         required
                         val-bubble
                         id="citizenCountryId">
                <ui-select-match placeholder="Оберiть громадянство">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="element.id as element in adminUnits | filter: $select.search">
                  <div ng-bind-html="element.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="docSeries" class="col-md-2 control-label">Серія особової справи</label>

            <div class="col-md-4">
              <input ng-model="entirePerson.person.docSeries"
                     type="text"
                     placeholder="Введiть серiю ОС"
                     id="docSeries"
                     class="form-control"
                     name="docSeries"/>
            </div>

            <label for="docNum" class="col-md-2 control-label">Номер особової справи</label>

            <div class="col-md-4">
              <input ng-model="entirePerson.person.docNum"
                     type="text"
                     id="docNum"
                     ng-pattern="/^[0-9]*$/"
                     placeholder="Введiть номер ОС"
                     class="form-control"
                     name="docNum"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label for="identifier" title="Індекс матеріально відповідального"
                   class="col-md-2 control-label">Індекс</label>

            <div class="col-md-4">
              <input type="text"
                     ng-model="entirePerson.person.identifier"
                     id="identifier"
                     class="form-control"
                     placeholder="Введiть iндекс"/>
            </div>
          </div>
        </div>
        <adminunits-selector
          required
          name="birthPlace"
          val-bubble
          ng-model="entirePerson.person.birthPlace">
        </adminunits-selector>

        <div class="form-group">
          <div class="row">
            <label class="col-md-2 control-label">Дата народження</label>

            <div class="col-md-4">
              <input type="text"
                     ng-model="entirePerson.person.begDate"
                     datepicker-popup="yyyy-MM-dd"
                     is-open="isOpen"
                     ng-click="isOpen = true"
                     ng-required="true"
                     close-text="Close"
                     class="form-control"
                     required
                     val-bubble
                     name="begDate"
                     placeholder="РРРР-MM-ДД"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row checkbox">
            <label class="col-md-4 col-md-offset-2 ">
              <input type="checkbox"
                     ng-model="entirePerson.person.resident"
                     ng-checked="entirePerson.person.resident">
              Чи є персона iноземцем? </label>
          </div>
        </div>

        <div class="form-group">
          <div class="row checkbox">
            <label class="col-md-4 col-md-offset-2  ">
              <input type="checkbox"
                     ng-model="entirePerson.person.isMilitary"
                     ng-checked="entirePerson.person.isMilitary">
              Чи є персона військово­зобов’язаною?</label>
          </div>
        </div>
        <div class="form-group">
          <div class="row checkbox">
            <label class=" col-md-4 col-md-offset-2 ">
              <input type="checkbox"
                     ng-model="entirePerson.person.isHostel"
                     ng-checked="entirePerson.person.isHostel">
              Чи потребує персона гуртожиток?</label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
