<div class="col-md-12 top-buffer ">

  <!--<div class="form-group">-->
    <!--<div class="row">-->
    <!--</div>-->
  <!--</div>-->

	<!--<form id="FromForRegAdress" name="adresses" class="form-vertical">-->


    <adminunits-selector name="birthPlaceInput"
                         label="Мiсце народження"
                         ng-model="person.birthPlace"
                         required val-bubble>
    </adminunits-selector>

    <hr>

    <h4>Адреса реєстрації</h4>

		<adminunits-selector ng-model="addresses.regAddresses.adminUnitId"
                         label="Мiсце реєстрації"
                         name="regAddressesInput"
                         required val-bubble>
		</adminunits-selector>

		<div class="form-group left-buffer">
			<div class="row">
				<div class="col-xs-2">
					<label for="inputZipCodeReg">Індекс</label>
					<input ng-model="addresses.regAddresses.zipCode"
                 type="text"
                 class="form-control"
                 placeholder="Поштовий індекс"
                 name="inputZipCodeReg"
                 id="inputZipCodeReg"
                 required val-bubble>
				</div>

				<div class="col-xs-2">
						<label for="inputStreetTypeReg">Тип</label>
						<select ng-model="addresses.regAddresses.streetTypeId"
                    ng-options="opt.id as opt.name for opt in streetsTypesOptions"
                    class="form-control"
                    name="inputStreetTypeReg"
                    id="inputStreetTypeReg"
                    required val-bubble>
					</select>
				</div>

				<div class="col-xs-4">
					<label for="inputStreetReg">Вулиця</label>
					<input ng-model="addresses.regAddresses.street"
                 type="text"
                 class="form-control"
                 placeholder="назва вулиці"
                 name="inputStreetReg"
                 id="inputStreetReg"
                 required val-bubble>
				</div>

				<div class="col-xs-2">
					<label for="inputHouseReg">Будинок</label>
					<input ng-model="addresses.regAddresses.house"
                 type="text"
                 class="form-control"
                 placeholder="номер будинку"
                 name="inputHouseReg"
                 id="inputHouseReg"
                 required val-bubble>
				</div>

				<div class="col-xs-2">
					<label for="inputApartmentReg">Квартира</label>
					<input ng-model="addresses.regAddresses.apartment"
                 type="text"
                 name="flat"
                 class="form-control"
                 placeholder="номер квартири"
                 name="inputApartmentReg"
                 id="inputApartmentReg">
				</div>

			</div>

		</div>
	<!--</form>-->

	<div class="form-group left-buffer">
		<label class="control-label">
			<input 	type="checkbox"
              ng-model="addresses.isAdressesMatch">
			Поштова адреса та адреса реєстрації співпадають </label>
	</div>



	<div collapse="addresses.isAdressesMatch">
    <hr>
		<h4>Поштова адреса</h4>
		<!--<form id="FromForPostAdress">-->

			<adminunits-selector ng-model="addresses.postAddresses.adminUnitId"
                           label="Мiсце проживання">
			</adminunits-selector>

			<div class="form-group left-buffer">
				<div class="row">

					<div class="col-xs-2">
						<label for="inputZipCodePost">Індекс</label>
						<input ng-model="addresses.postAddresses.zipCode"
                   type="text"
                   class="form-control"
                   placeholder="Поштовий індекс"
                   name="inputZipCodePost"
                   id="inputZipCodePost">
					</div>

					<div class="col-xs-2">
						<label for="inputStreetTypePost">Тип</label>
						<select ng-model="addresses.postAddresses.streetTypeId"
                    ng-options="x.id as x.name for x in streetsTypesOptions"
                    class="form-control"
                    name="inputStreetTypePost"
                    id="inputStreetTypePost">
					</select>
				</div>

				<div class="col-xs-4">
					<label for="inputStreetPost">Вулия</label>
					<input ng-model="addresses.postAddresses.street"
                 type="text"
                 class="form-control"
                 placeholder="назва вулиці"
                 name="inputStreetPost"
                 id="inputStreetPost">
				</div>

				<div class="col-xs-2">
					<label for="inputHousePost">Будинок</label>
					<input ng-model="addresses.postAddresses.house"
                 type="text"
                 class="form-control"
                 placeholder="номер будинку"
                 name="inputHousePost"
                 id="inputHousePost">
				</div>

				<div class="col-xs-2">
					<label for="inputApartmentPost">Квартира</label>
					<input ng-model="addresses.postAddresses.apartment"
                 type="text"
                 class="form-control"
                 placeholder="номер квартири"
                 name="inputApartmentPost"
                 id="inputApartmentPost">
				</div>

			</div>

		</div>
  </div>
	<!--</form>-->
</div>

<!--</div>-->
