
<!--<div val-bubble-counter>-->
  <!--<form id="movieForm" method="post" name="form_prop" class="form-horizontal top-buffer">-->
    <div class="form-group">
      <div class="row">
        <label for="photo" class="col-md-2 control-label">Завантажити фото</label>

        <div class="col-md-4">
          <input type="file"
                 ng-model="person.photo"
                 id="photo"
                 name="photo"
                 placeholder="фото"/>
        </div>
      </div>
    </div>

  <!--</form>-->
<!--</div>-->
