<div class="row form-group container">
  <div class="col-md-3">
    <img class="photo" width="170px" src="../images/no-photo.jpg">
  </div>
  <div class="col-md-7">
    <h2 class="text-primary">{{entirePerson.person.name}}
      <small>
        <a ui-sref="root.person.edit.main({id:entirePerson.person.id})">
          <i class="fa fa-pencil-square-o text-primary"></i>
        </a>
      </small>
    </h2>

    <div class="row">
      <div class="col-md-9 bottom-buffer">
        <h4>{{entirePerson.names[0].name}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <p><b>Серія особової справи:</b> {{entirePerson.person.docSeries}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <p><b>Номер особової справи:</b> {{entirePerson.person.docNum}}</p>
      </div>
    </div>

  </div>
</div>

<div class="row form-group">
  <div class="col-md-10">
    <h4 class="text-primary"><b>Основна інформація</b></h4>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-4">
    <p><b>Тип персони:</b> {{personsTypes[entirePerson.person.personTypeId]}}</p>
  </div>
  <div class="col-md-4">
    <p><b>Стать:</b> {{genderTypes[entirePerson.person.genderTypeId]}}</p>
  </div>
  <div class="col-md-4">
    <p><b>Громадянство:</b> {{adminUnits[entirePerson.person.citizenCountryId]}}</p>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-4">
    <p><b>Дата народження:</b> {{entirePerson.person.begDate | date:"dd.MM.yyyy' р.'"}}</p>
  </div>
  <div class="col-md-4">
    <p><b>Сімейний стан:</b> {{marriedTypes[entirePerson.person.marriedTypeId]}}</p>
  </div>
  <div class="col-md-4">
    <p><b>Індекс матеріально відповідального:</b> {{entirePerson.person.identifier}}</p>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-4">
    <p><b>Резидент:</b> {{entirePerson.person.resident | checkmark}}</p>
  </div>
  <div class="col-md-4">
    <p><b>Військовозобовязаний:</b> {{entirePerson.person.isMilitary | checkmark}}</p>
  </div>
  <div class="col-md-4">
    <p><b>Гуртожиток:</b> {{entirePerson.person.isHostel | checkmark}}</p>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-10">
    <label>Мiсце народження</label>
    <adminunits-selector ng-model="entirePerson.person.birthPlace">
    </adminunits-selector>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-10">
    <h4 class="text-primary"><b>Адреси</b></h4>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-10">
    <label>Адреса реєстрації</label>
    <adminunits-selector ng-model="entirePerson.addresses.regAddresses.adminUnitId">
    </adminunits-selector>
  </div>

  <div class="form-group col-md-10">
    <div class="row">
      <div class="col-xs-2">
        <label for="inputZipCodeReg">Індекс</label>

        <div id="inputZipCodeReg">{{entirePerson.addresses.regAddresses.zipCode}}</div>
      </div>

      <div class="col-xs-2">
        <label for="inputStreetTypeReg">Тип</label>

        <div id="inputStreetTypeReg">{{streetsTypes[entirePerson.addresses.regAddresses.streetTypeId]}}
        </div>
      </div>

      <div class="col-xs-4">
        <label for="inputStreetReg">Вулиця</label>

        <div id="inputStreetReg">{{entirePerson.addresses.regAddresses.street}}</div>
      </div>

      <div class="col-xs-2">
        <label for="inputHouseReg">Будинок</label>

        <div id="inputHouseReg">{{entirePerson.addresses.regAddresses.house}}</div>
      </div>

      <div class="col-xs-2">
        <label for="inputApartmentReg">Квартира</label>

        <div id="inputApartmentReg">{{entirePerson.addresses.regAddresses.apartment}}</div>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <label>Поштова адреса</label>
    <adminunits-selector ng-model="entirePerson.addresses.postAddresses.adminUnitId">
    </adminunits-selector>
  </div>

  <div class="form-group col-md-10">
    <div class="row">
      <div class="col-xs-2">
        <label for="inputZipCodePost">Індекс</label>

        <div id="inputZipCodePost">{{entirePerson.addresses.postAddresses.zipCode}}</div>
      </div>

      <div class="col-xs-2">
        <label for="inputStreetTypePost">Тип</label>

        <div id="inputStreetTypePost">{{streetsTypes[entirePerson.addresses.postAddresses.streetTypeId]}}
        </div>
      </div>

      <div class="col-xs-4">
        <label for="inputStreetPost">Вулиця</label>

        <div id="inputStreetPost">{{entirePerson.addresses.postAddresses.street}}</div>
      </div>

      <div class="col-xs-2">
        <label for="inputHousePost">Будинок</label>

        <div id="inputHousePost">{{entirePerson.addresses.postAddresses.house}}</div>
      </div>

      <div class="col-xs-2">
        <label for="inputApartmentPost">Квартира</label>

        <div id="inputApartmentPost">{{entirePerson.addresses.postAddresses.apartment}}</div>
      </div>
    </div>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-10">
    <h4 class="text-primary"><b>Контакти</b></h4>
  </div>
</div>

<div class="row">
  <person-contacts ng-model="entirePerson.contacts"></person-contacts>
</div>
