<!--<div >-->
  <!--<form id="movieForm" method="post" name="form_prop" class="form-horizontal top-buffer">-->
    <!--<div class=""> &lt;!&ndash;raw&ndash;&gt;-->
      <!--<div class="col-md-10">-->

        <div class="form-group">
          <div class="row">
            <label class="col-md-2 control-label">Тип персони</label>

            <div class="col-md-4">
              <ui-select ng-model="person.personTypeId"
                         name="personTypeId"
                         required val-bubble
                         id="personTypeId">
                <ui-select-match placeholder="Оберiть тип персони">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="element.id as element in personsTypes | filter: $select.search">
                  <div ng-bind-html="element.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>


        <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  -->

        <div class="form-group ">
          <div class="row">

            <label for="surname" class="col-md-2 control-label">Прiзвище</label>

            <div class="col-md-4">
              <input type="text"
                     ng-model="person.surname"
                     id="surname"
                     ng-pattern="/^[а-яА-ЯіІєЄ\'\s\-]*$/"
                     required  val-bubble
                     class="form-control"
                     name="surname"
                     placeholder="Прiзвище"/>
            </div>

            <label for="firstName" class="col-md-2 control-label">Iм'я</label>

            <div class="col-md-4">
              <input type="text"
                     id="firstName"
                     name="firstName"
                     ng-pattern="/^[а-яА-ЯіІєЄ\'\s\-]*$/"
                     ng-model="person.firstName"
                     required  val-bubble
                     class="form-control"
                     placeholder="Iм'я"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label for="fatherName" class="col-md-2 control-label">По-батьковi</label>

            <div class="col-md-4">
              <input type="text"
                     ng-model="person.fatherName"
                     required val-bubble
                     class="form-control"
                     id="fatherName"
                     ng-pattern="/^[а-яА-ЯіІєЄ\'\s\-]*$/"
                     name="fatherName"
                     placeholder="По-батьковi"/>
            </div>
          </div>
        </div>

        <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  -->

        <div class="form-group ">
          <div class="row">
            <label for="surnameEng" class="col-md-2 control-label">Прiзвище (англ)</label>
            <div class="col-md-4">
              <input type="text"
                     ng-model="names.surname"
                     id="surnameEng"
                     ng-pattern="/^[a-zA-Z\'\s\-]*$/"
                     required val-bubble
                     class="form-control"
                     name="surnameEng"
                     placeholder="Прiзвище"/>
            </div>

            <label for="firstNameEng" class="col-md-2 control-label">Iм'я (англ)</label>

            <div class="col-md-4">
              <input type="text"
                     id="firstNameEng"
                     ng-pattern="/^[a-zA-Z\'\s\-]*$/"
                     ng-model="names.firstName"
                     required val-bubble
                     class="form-control"
                     name="firstNameEng"
                     placeholder="Iм'я"/>
            </div>

          </div>
        </div>


        <!--<div ng-include=" '../views/person/tabsPerson/tab_addresses.html' "></div>-->

        <!--<div class="form-group">-->
          <!--<div class="row">-->
            <!--<label for="identifier" title="Індекс матеріально відповідального"-->
                   <!--class="col-md-2 control-label">Індекс</label>-->

            <!--<div class="col-md-4">-->
              <!--<input type="text"-->
                     <!--ng-model="person.identifier"-->
                     <!--id="identifier"-->
                     <!--class="form-control"-->
                     <!--placeholder="Введiть iндекс"/>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->
