<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover" ng-show="inputData.length">
      <thead>
      <tr>

        <td>{{headers[0].display}}</td>
        <td>{{headers[1].display}}</td>
        <td>{{headers[2].display}}</td>
        <td>{{headers[3].display}}</td>
        <td>{{headers[4].display}}</td>
        <td>{{headers[5].display}}</td>
        <td>{{headers[6].display}}</td>
        <td ng-show="isVisible.publicActiveTable">{{headers[7].display}}</td>
        <td ng-show="isVisible.publicActiveTable">{{headers[8].display}}</td>
        <td ng-show="isVisible.studyTable">{{headers[9].display}}</td>
        <td ng-show="isVisible.studyTable || isVisible.markTable">{{headers[10].display}}</td>
        <td ng-show="isVisible.docPinTable">{{headers[11].display}}</td>

      </tr>
      </thead>
      <tr ng-repeat="item in inputData track by $index">

        <td>{{item.paperTypeId}}</td>
        <td>{{item.docSeries}}</td>
        <td>{{item.docNum}}</td>
        <td>{{item.docDate}}</td>
        <td>{{item.docIssued}}</td>
        <td>{{item.isChecked ? '\u2713' : '\u2718'}}</td>
        <td>{{item.isForeign ? '\u2713' : '\u2718'}}</td>
        <td ng-show="isVisible.publicActiveTable || item.award.publicActivityTypeId">
          {{item.award.publicActivityTypeId}}
        </td>
        <td ng-show="isVisible.publicActiveTable || item.award.publicActivityAwardId">
          {{item.award.publicActivityAwardId}}
        </td>
        <td ng-show="isVisible.studyTable || item.honorsTypeId">{{item.honorsTypeId}}</td>
        <td ng-show="isVisible.studyTable || isVisible.markTable || item.mark">{{item.mark}}</td>
        <td ng-show="isVisible.docPinTable || item.docPin">{{item.docPin}}</td>

        <td class="editing">
          <button class="btn btn-xs btn-warning" ng-click="editData(item, $index)"><i class="fa fa-pencil-square-o"></i>
          </button>
          <button class="btn btn-xs btn-danger" ng-click="deleteData($index)"><i class="fa fa-times"></i></button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row" ng-show="personView">
  <form class="col-xs-12">
    <div class="row" ng-show="personView && !inputData.length">
      <div class="col-xs-10">
        <h4>У даної персони немає документів</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10">
        <button class="btn btn-success top-buffer bottom-buffer" ng-click="newDocument()">
          <i class="fa fa-plus"></i> Додати документ
        </button>
      </div>
    </div>
  </form>
</div>

<div class="row" ng-show="!personView">
  <form class="col-xs-12">

    <hr/>
    <!--is editing-->
    <div class="row">
      <div class="col-xs-2">
        <button class="btn btn-xl btn-primary bottom-buffer" ng-click="isVisible.isCreating = !isVisible.isCreating">
          Додати документ
        </button>
      </div>
    </div>

    <div collapse="isVisible.isCreating">
      <div class="row">
        <div class="form-horizontal" name="formSubjects">

          <div class="col-xs-4">
            <label>Категорії документів</label>
            <select ng-model="currentObj.abbrName"
                    ng-options="opt.id as opt.abbrName for opt in paperUsage"
                    class="form-control">
            </select>
          </div>

          <div class="col-xs-4">
            <label>Назва документу</label>
            <select ng-model="currentObj.paperTypeId"
                    ng-options="opt.id as opt.name for opt in newData | filter: filterPaperTypes"
                    class="form-control"
                    ng-change="addSelect(currentObj)">
              >
            </select><br/>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <label>Серія документу</label>
          <input ng-model="currentObj.docSeries"
                 type="text"
                 class="form-control"
                 placeholder="серія">
        </div>

        <div class="col-xs-4">
          <label>Номер документу</label>
          <input ng-model="currentObj.docNum"
                 type="text"
                 class="form-control"
                 placeholder="номер"
            ><br/>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-4">
          <label>Дата видачі документу</label>
          <input ng-model="currentObj.docDate"
                 type="text"
                 datepicker-popup="yyyy-MM-dd"
                 is-open="isOpen"
                 ng-click="isOpen = true"
                 close-text="Close"
                 class="form-control"
                 placeholder="РРРР-MM-ДД"
            >
        </div>

        <div class="col-xs-4">
          <label>Ким видано документ</label>
          <input ng-model="currentObj.docIssued"
                 type="text"
                 class="form-control"
                 placeholder="ким видано"
            ><br/>
        </div>

      </div>

      <div class="row" ng-show="isVisible.publicActiveSelect">
        <div class="col-xs-4">
          <label>Категорії нагород</label>
          <select ng-model="currentObj.publicActivityTypeId"
                  ng-options="opt.publicActivityTypeId as opt.name for opt in publicActiv"
                  class="form-control"
                  ng-change="setAdditionalData(currentObj.publicActivityTypeId)"
            >
          </select>
        </div>

        <div class="col-xs-4">
          <label>Нагорода</label>
          <select ng-model="currentObj.pickAward"
                  ng-options="opt as opt.awardName for opt in newAddingData"
                  class="form-control">
          </select><br/>
        </div>
      </div>

      <div class="row" ng-show="isVisible.studySelect || isVisible.markSelect">
        <div class="col-xs-4">
          <label>Середній бал</label>
          <input ng-model="currentObj.mark"
                 type="number"
                 step="0.1"
                 class="form-control"
                 placeholder="середній бал"
            ><br/>
        </div>

        <div class="col-xs-4" ng-show="!isVisible.markSelect">
          <label>Тип відзнаки</label>
          <select ng-model="currentObj.honorsTypeId"
                  ng-options="opt.id as opt.name for opt in honorTypes"
                  class="form-control">
          </select>
        </div>
      </div>

      <div class="row" ng-show="isVisible.docPinSelect">
        <div class="col-xs-4">
          <label>Пін­код сертифікату ЗНО</label>
          <input ng-model="currentObj.docPin"
                 type="text"
                 class="form-control"
                 placeholder="пін-код"
            ><br/>
        </div>
      </div>

      <div class="form-group left-buffer">
        <div class="row">
          <div class="col-xs-4">
            <div class="checkbox">
              <label> <input type="checkbox"
                             ng-model="currentObj.isChecked"
                             ng-true-value="1"
                             ng-false-value="0"
                             ng-checked="currentObj.isChecked"> Документ звірен з оригіналом
              </label>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="checkbox">
              <label> <input type="checkbox"
                             ng-model="currentObj.isForeign"
                             ng-true-value="1"
                             ng-false-value="0"
                             ng-checked="currentObj.isForeign"> Документ іноземного зразка
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <button class="btn btn-xl btn-success" ng-show="isVisible.isAddToTable" ng-click="addToTable()"><i
            class="fa fa-plus"></i> Додати
          </button>
          <button class="btn btn-xl btn-success" ng-show="isVisible.isSaveToTable" ng-click="saveData()"><i
            class="fa fa-plus"></i> Зберегти
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
