<div ng-controller="TabPersonCtrl">
  <form id="movieForm" method="post" name="form_prop">
    <div class="row">
      <div class="col-md-10">

        <div class="form-group  ">
          <div class="row">
            <div class="col-md-6">
              <div>
                <label for="personTypeId">Оберiть тип персони</label>
                <ui-select ng-model="entirePerson.persons.personTypeId"
                           required
                           id="personTypeId">
                  <ui-select-match placeholder="Оберiть тип персони">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="element.id as element in personsTypes | filter: $select.search">
                    <div ng-bind-html="element.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <div class="row">

            <div class="col-md-2">
              <label for="firstName">Iм'я</label>
            </div>
            <div class="col-md-4">
              <input type="text"
                     id="firstName"
                     ng-model="entirePerson.persons.firstName"
                     required
                     class="form-control"
                     name="name"
                     placeholder="Iм'я"/>
            </div>

            <div class="col-md-2">
              <label for="firstNameEng">Iм'я (англ)</label>
            </div>
            <div class="col-md-4">
              <input type="text"
                     id="firstNameEng"
                     ng-pattern="/^[a-zA-Z']*$/"
                     ng-model="entirePerson.names[0].firstName"
                     required
                     class="form-control"
                     name="name"
                     placeholder="Iм'я"/>
            </div>

          </div>
        </div>
        <div class="form-group ">
          <div class="row">

            <div class="col-md-2">
              <label for="surname">Прiзвище</label>
            </div>
            <div class="col-md-4">
              <input type="text"
                     ng-model="entirePerson.persons.surname"
                     id="surname"
                     required
                     class="form-control"
                     name="surname"
                     placeholder="Прiзвище"/>
            </div>


            <div class="col-md-2">
              <label for="surnameEng">Прiзвище (англ)</label>
            </div>
            <div class="col-md-4">
              <input type="text"
                     ng-model="entirePerson.names[0].surname"
                     id="surnameEng"
                     ng-pattern="/^[a-zA-Z']*$/"
                     required
                     class="form-control"
                     name="surname"
                     placeholder="Прiзвище"/>
            </div>

          </div>
        </div>
        <div class="form-group">
          <div class="row">

            <div class="col-md-2">
              <label for="fatherName">По-батьковi</label>
            </div>
            <div class="col-md-4">
              <input type="text"
                     ng-model="entirePerson.persons.fatherName"
                     required
                     class="form-control"
                     id="fatherName"
                     name="fatherName"
                     placeholder="По-батьковi"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-5">
              <label for="photo">Завантажити фото</label>
              <input type="file"
                     ng-model="entirePerson.persons.photo"
                     id="photo"
                     required
                     name="photo"
                     placeholder="фото"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="genderTypeId">Стать</label>

              <ui-select ng-model="entirePerson.persons.genderTypeId"
                         required
                         id="genderTypeId">
                <ui-select-match placeholder="Оберiть стать">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="element.id as element in genderTypes | filter: $select.search">
                  <div ng-bind-html="element.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>

            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">

              <label for="marriedTypeId">Сiмейний стан</label>

              <ui-select ng-model="entirePerson.persons.marriedTypeId"
                         required
                         id="marriedTypeId">
                <ui-select-match placeholder="Оберiть сiмейний стан">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="element.id as element in marriedTypes | filter: $select.search">
                  <div ng-bind-html="element.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>

            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">

              <label for="citizenCountryId">Громадянство</label>
              <ui-select ng-model="entirePerson.persons.citizenCountryId"
                         required
                         id="citizenCountryId">
                <ui-select-match placeholder="Оберiть громадянство">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="element.id as element in adminUnits | filter: $select.search">
                  <div ng-bind-html="element.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <label for="docSeries">Серія особової справи</label>
              <input ng-model="entirePerson.persons.docSeries"
                     type="text"
                     placeholder="Введiть серiю ОС"
                     id="docSeries"
                     class="form-control"
                     name="docSeries"/>
            </div>
            <div class=" col-md-3">
              <label for="docNum">Номер особової справи</label>
              <input ng-model="entirePerson.persons.docNum"
                     type="text"
                     id="docNum"
                     ng-pattern="/^[0-9]*$/"
                     placeholder="Введiть номер ОС"
                     class="form-control"
                     name="docNum"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="identifier">Індекс матеріально відповідального</label>
              <input type="number"
                     ng-model="entirePerson.persons.identifier"
                     id="identifier"
                     required
                     name="identifier"
                     class="form-control"
                     placeholder="Введiть iндекс"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">
              <input type="checkbox"
                     ng-model="entirePerson.persons.resident">
              Чи є персона iноземцем? </label>
          </div>

        </div>

        <div class="row">
          <div class="form-group col-md-10">
            <label>Мiсце народження</label>
            <adminunits-selector ng-model="entirePerson.persons.birthPlace">
            </adminunits-selector>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <label class="control-label">Дата народження</label>
              <input type="text"
                     ng-model="entirePerson.persons.begDate"
                     datepicker-popup="yyyy-MM-dd"
                     is-open="isOpen"
                     ng-click="isOpen = true"
                     ng-required="true"
                     close-text="Close"
                     class="form-control"
                     required val-bubble
                     name="begDate"
                     placeholder="РРРР-MM-ДД"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">
                <input type="checkbox"
                       ng-model="entirePerson.persons.isMilitary"
                       ng-checked="entirePerson.persons.isMilitary">
                Чи є персона військово­зобов’язаною?</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">
                <input type="checkbox"
                       ng-model="entirePerson.persons.isHostel"
                       ng-checked="entirePerson.persons.isHostel">
                Чи потребує персона гуртожиток?</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
