<div val-bubble-counter>
  <form id="movieForm" method="post" name="form_prop" class="form-horizontal top-buffer">
    <label class="col-xs-2 control-label">Пошук персони</label>

    <!-- label: "Пошук персони:"-->
    <person-selector search="personSearch"
                     headers="personHeaders"
                     name="inputPersonId"
                     ng-model="enrolment.personId"
                     required val-bubble>
    </person-selector>

    <div class="form-group">
      <div class="row">

        <label class="col-xs-2 control-label" for="inputDocSeries">Серія заяви</label>

        <div class="col-xs-3">
          <input ng-model="enrolment.docSeries"
                 name="inputDocSeries"
                 type="text"
                 id="inputDocSeries"
                 class="form-control"
                 placeholder="Серія заяви"
                 required val-bubble>
        </div>

        <label class="col-xs-2 control-label" for="inputdocNum">Номер заяви</label>

        <div class="col-xs-3">
          <input ng-model="enrolment.docNum"
                 type="text"
                 name="inputdocNum"
                 class="form-control"
                 placeholder="Номер заяви"
                 ng-pattern="/^[0-9\'\s\-]*$/"
                 id="inputdocNum"
                 required val-bubble>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
          <div class="checkbox">
            <label class="col-xs-3 col-xs-offset-2 ">
              <input type="checkbox"
                     ng-model="enrolment.isState"
                     ng-true-value="1"
                     ng-false-value="0"
                     ng-checked="enrolment.isState"> Бюджет
            </label>
          </div>
        </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="checkbox">
          <label class="col-xs-3 col-xs-offset-2 ">
            <input type="checkbox"
                   ng-model="enrolment.isContract"
                   ng-true-value="1"
                   ng-false-value="0"
                   ng-checked="enrolment.isContract"> Контракт
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="checkbox">
          <label class="col-xs-3 col-xs-offset-2 ">
            <input type="checkbox"
                   ng-init="enrolment.isPrivilege = 0"
                   ng-model="enrolment.isPrivilege"
                   ng-true-value="1"
                   ng-false-value="0"
                   ng-checked="enrolment.isPrivilege"> Чи є пільги на вступ?
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label class="col-xs-2 control-label">Вища освіта</label>

        <div class="form-group col-xs-10">
          <div class="radio-inline" ng-repeat="opt in isedustateOpt">
            <label>
              <input type="radio"
                     name="isedustate"
                     ng-value="opt.value"
                     ng-model="enrolment.isEducationState"> {{opt.title}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label class="col-xs-2 control-label">Відмітка про співбесіду</label>

        <div class="form-group col-xs-10">
          <div class="radio-inline" ng-repeat="opt in isinterviewOpt">
            <label>
              <input type="radio"
                     name="isinterview"
                     ng-value="opt.value"
                     ng-model="enrolment.isInterview">
              {{opt.title}}
            </label>
          </div>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="row">
          <div class="checkbox">
            <label class="col-xs-3 col-xs-offset-2 ">
              <input type="checkbox"
                     ng-init="enrolment.isHostel = 0"
                     ng-model="enrolment.isHostel"
                     ng-true-value="1"
                     ng-false-value="0"
                     ng-checked="enrolment.isHostel"> Потрібен гуртожиток?
            </label>
          </div>
      </div>
    </div>

    <label class="col-xs-2 control-label">Пошук пропозиції</label>

    <!--Label: "Пошук пропозиції "-->
    <specoffer-selector departments="departmentId"
                        specofferTypes="specofferTypes"
                        headers="specofferHeaders"
                        name="inputSpecOfferId"
                        ng-model="enrolment.specOfferId"
                        required val-bubble>
    </specoffer-selector>

    <!--Label: "Документ "-->
    <paper-selector personid="enrolment.personId"
                    name="inputPersonPaperId"
                    ng-model="enrolment.personPaperId"
                    on-new-person-paper="newPersonPaper()"
                    required val-bubble>
    </paper-selector>


    <div class="form-group">
      <div class="row">
        <label class="col-xs-2 control-label" for="inputMark">Загальний бал</label>
        <div class="col-xs-3">
          <input ng-model="enrolment.mark"
                 type="number"
                 name="inputMark"
                 class="form-control"
                 placeholder="Загальний бал"
                 id="inputMark"
                 required val-bubble >
        </div>


        <label class="col-xs-2 control-label" for="inputMarkScaleId">Шкала оцiнювання</label>
        <div class="col-xs-3">
          <ui-select ng-model="enrolment.markScaleId"
                     id="markScale"
                     name="inputMarkScaleId"
                     id="inputMarkScaleId"
                     required val-bubble>
            <ui-select-match placeholder="Шкала оцiнювання">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="element.id as element in markType | filter: $select.search">
              <div ng-bind-html="element.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>

        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="row">
        <div class="checkbox">
          <label class="col-xs-3 col-xs-offset-2 ">
            <input type="checkbox"
                   ng-init="enrolment.isOriginal = 0"
                   ng-model="enrolment.isOriginal"
                   ng-true-value="1"
                   ng-false-value="0"
                   ng-checked="enrolment.isOriginal"> Поданi оригiнали документiв?
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label class="col-xs-2 control-label" for="inputPriority">Пріоритет</label>

        <div class="col-xs-3">

          <input ng-model="enrolment.priority"
                 type="number" class="form-control "
                 id="inputPriority"
                 placeholder="Введіть пріоритет"
                 name="inputPriority"
                 min="1"
                 max="15"
                 required val-bubble>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="row">
        <label class="col-xs-2 control-label" for="inputStructure">Структурний підрозділ</label>
-
        <div class="col-xs-3">

          <ui-select ng-model="enrolment.departmentId"
                     id="inputStructure"
                     name="departmentId"
                     required val-bubble>
            <ui-select-match placeholder="Структурний підрозділ">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="item.id as item in departmentId | filter: $select.search">
              <div ng-bind-html="item.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <!--Label: "Тип вступу", "Деталiзацiя вступу"-->
    <enrolment-types-selector
                    name="enrolmentTypesInput"
                    ng-model="enrolment.enrolmentTypeId"
                    required val-bubble>
    </enrolment-types-selector>

    <div class="row">
      <label class=" col-xs-2 control-label" for="evDate">Дата створення заяви</label>

      <div class="col-xs-3">
        <input type="text"
               ng-model="enrolment.evDate"
               datepicker-popup="yyyy-MM-dd"
               class="form-control"
               id="evDate"
               placeholder="РРРР-MM-ДД"
               readonly/>
      </div>
    </div>
    <div class="row">
      <label class="col-xs-2 control-label" for="begDate">Дата вступу заяви в дію</label>

      <div class="col-xs-3">

        <input type="text"
               ng-model="enrolment.begDate"
               datepicker-popup="yyyy-MM-dd"
               is-open="isOpen2"
               ng-click="isOpen2 = true"
               close-text="Close"
               class="form-control"
               id="begDate"
               placeholder="РРРР-MM-ДД"/>
      </div>
    </div>
    <div class="row">
      <label class=" col-xs-2 control-label" for="endDate">Дата закриття заяви</label>

      <div class="col-xs-3">

        <input type="text"
               ng-model="enrolment.endDate"
               datepicker-popup="yyyy-MM-dd"
               is-open="isOpen3"
               ng-click="isOpen3 = true"
               close-text="Close"
               class="form-control"
               id="endDate"
               placeholder="РРРР-MM-ДД"/>
      </div>
    </div>

  </form>
</div>
