<div class="container-fluid">
  <div class="row bottom-buffer">
    <div class="col-md-3">
      <h2><i class="fa fa-user text-danger"></i> Персони</h2>
    </div>
  </div>

  <!-- main content -->
  <general-table class="generalTable"
                data="personDecoded"
                filters="personFilters"
                search="personSearch"
                headers="headers"
                getdata="getPersons(currentPage, itemsPerPage, userFilterPick, sort)"
                newItemLinkTitle ="Додати персону"
                linkToNewItem="#/person/new/main"
                on-delete="deletePerson(id)"
                on-change="changePerson(id)"
                total="{{totalPersons}}">
  </general-table>

</div>
