<div class="container-fluid">
  <div class="row bottom-buffer">
    <div class="col-md-3">
      <h2><i class="fa fa-user text-danger"></i> Персони</h2>
    </div>
  </div>

  <!-- main content -->
  <general-table class="generalTable"
                data="personDecoded"
                filters="personFilters"
                search="personSearch"
                headers="headers"
                getdata="getPersons(currentPage, itemsPerPage, userFilterPick, sort)"
                newitemlinktitle ="Додати персону"
                newitemstate="root.person.new.main"
                total="{{totalPersons}}"
                on-delete="deletePerson(id)"
                on-change="changePerson(id)"
                on-view="viewPerson(id)"
                is-view="true"
                currentstate="root.person.list">
  </general-table>

</div>
