<div class="content-header">
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li><a ui-sref="root.person.list">Персони</a></li>
      <li class="active">Нова персона</li>
    </ol>
    <h2 ng-show="!entirePerson.person.id" class="content-header-title top-buffer bottom-buffer"><i class="fa fa-user-plus text-danger"></i>
      Додавання персони</h2>
    <h2 ng-show="entirePerson.person.id" class="content-header-title top-buffer bottom-buffer"><i class="fa fa-user-plus text-danger"></i>
      Редагування персони</h2>
  </div>
</div>

<!-- main content -->
<div class="col-sm-12 col-md-12 new-proposal-wrapper" ng-controller="ProgressBarCtrl">

  <div class="row">
      <p class="text-center col-md-6">
        <progressbar value="progressBarPercent" type="{{type}}">Основна інформаці заповнена на: {{progressBarPercent}}%</progressbar>
      </p>
      <p class="text-center col-md-3 text-danger">
        {{propositionMessage}}
      </p>
  </div>


  <div>
    <div class="row">
      <div class="tabset col-md-9">
          <tabset>
            <tab  ng-repeat="t in personTabs"
                  heading="{{t.heading}}"
                  ng-click="!(t.heading === 'Предмети ЗНО' && tabSubjDisabled()) && go(t.route)"
                  active="t.active"
                  disabled="t.heading === 'Предмети ЗНО' && tabSubjDisabled()">
            </tab>
          </tabset>
          <div ui-view></div>
      </div>
    </div>

    <!--TODO: link 'зберегти' button to inputs in other tabs -->
    <!--|| (!entirePerson.addresses.regAddresses.house)-->
    <div class="top-buffer bottom-buffer row">
      <button ng-click="sendToServerPerson(entirePerson)"
              ng-disabled="(progressBarPercent !== 100) "
              type="submit"
              class="btn btn-primary">Зберегти</button>
      <button ng-click="deletePerson()" type="submit" class="btn btn-danger">Видалити</button>
    </div>

  </div>
</div>


<div class="footer">
</div>
