<div class=" content-header">
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li><a href="#/list-person">Персони</a></li>
      <li class="active">Нова персона</li>
    </ol>
    <h2 class="content-header-title top-buffer bottom-buffer"><i class="fa fa-user-plus text-danger  "></i>
      Додавання персони</h2>
  </div>
</div>

<!-- main content -->
<div class="col-sm-12 col-md-12 new-proposal-wrapper">

  <div>
    <div class="row">
      <div class="tabset col-md-9">
          <tabset>
            <tab  ng-repeat="t in personTabs"
                  heading="{{t.heading}}"
                  ng-click="go(t.route)"
                  ui-sref-active="active">
            </tab>
          </tabset>
          <div ui-view></div>
      </div>
    </div>

    <div class="top-buffer bottom-buffer row">
      <button ng-click="sendToServerPerson(entirePerson)" type="submit" class="btn btn-primary">Зберегти</button>
      <button ng-click="deletePerson()" type="submit" class="btn btn-danger">Видалити</button>
    </div>

  </div>
</div>


<div class="footer">
</div>
