<form id="movieForm" method="post">

  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="form-group col-md-2">
          <label for="inputCodeDirection">Код напряму</label>
          <input  type="text" class="form-control" id="inputCodeDirection" placeholder="Введiть код напряму"
                 name="title">
        </div>

        <div class="form-group col-md-3">
          <label for="inputDirection">Напрям</label>
          <input type="text" class="form-control" id="inputDirection" placeholder="Введiть напрям"
                 name="title">
        </div>

        <!--    specialtyId **СПЕЦІАЛІЗАЦІЯ**     --> 
        <div class="form-group col-md-2">
          <label for="inputCodeSpecialty">Код спеціальностi</label>
          <input ng-model="specOffer.specialtyId" type="text" class="form-control" id="inputCodeSpecialty" placeholder="Введiть код"
                 name="title">
        </div>

        
        <div class="form-group col-md-3">
          <label for="inputSpecialty">Спеціальнiсть</label>
          <input type="text" class="form-control" id="inputSpecialty" placeholder="Введiть спеціальність"
                 name="title">
        </div>
      </div>

      <div class="row">
        <div class="form-group  col-md-5">

        <!--   departmentId    -->
          <label for="inputStructure">Структурний підрозділ</label>
          <input ng-model="specOffer.departmentId" type="text" class="form-control" id="inputStructure" placeholder="Введiть факультет"
                 name="title">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-5">
        <!-- timePeriodId -->
          <label for="inputTimeperiod">Часовий період</label>
          <input ng-model="specOffer.timePeriodId" type="text" class="form-control" id="inputTimeperiod" placeholder="Введiть часовий перiод"
                 name="title">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-5">
          
          <!-- specofferTypeId ОРК -->
          <label for="inputOKR">Освітньо-кваліфікаційний рівень</label>
          <select ng-model="specOffer.specofferTypeId" 
                  ng-options="opt.id as opt.name for opt in specofferTypesOptions" 
                  class="form-control" id="inputOKR">
<!-- opt.name for opt in specofferTypesOptions track by opt.id -->
<!-- opt.id as opt.name for opt in specofferTypesOptions -->
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2 ">
        <!-- docSeries -->
          <label for="inputLicenseS"> Серія ліцензії</label>
          <input ng-model="specOffer.docSeries"  type="text" class="form-control" id="inputLicenseS"
                 placeholder="Введiть серiю лiцензiї">
        </div>

        <div class="form-group col-md-4 ">
        <!-- docNum -->
          <label for="inputLicenseNumber"> Номер ліцензії</label>
          <input ng-model="specOffer.docNum"  type="text" class="form-control " id="inputLicenseNumber"
                 placeholder="Введiть номер лiцензiї">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3 ">
        <!-- eduFormTypeId -->
          <label for="inputFormStuding">Оберiть форму навчання</label>
          <select ng-model="specOffer.eduFormTypeId" 
                  ng-options="opt.id as opt.name for opt in eduFormTypesOptions" 
                  id="inputFormStuding" class="form-control" >
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
        <!-- licCount -->
          <label for="inputNumberOfPlaces">Кiлькiсть лiцензованих мiсць</label>
          <input type="number" class="form-control " id="inputNumberOfPlaces"
                 placeholder="Введiть кiлькiсть лiцензованих мiсць">
        </div>
        <div class="form-group col-md-3">
        <!-- stateCount -->
          <label for="inputNumberOfStateOrder">Кiлькiсть мiсць держзамовлення</label>
          <input type="number" class="form-control " id="inputNumberOfStateOrder"
                 placeholder="Введiть кiлькiсть мiсць держзамовлення">
        </div>
      </div>
      <div class="row">

        <div class="col-md-3">
        <!-- begDate -->
          <label class="control-label">Дата початку навчання</label>
          <input type="date" class="form-control" name="title"/>
        </div>
        <div class="col-md-3">
        <!-- endDate -->
          <label class="control-label">Дата закінчення навчання</label>
          <input type="date" class="form-control" name="title"/>
        </div>
      </div>
    </div>
  </div>

  <div class="top-buffer">
    <button ng-click="handleClick(message);" type="submit" class="btn btn-primary">Зберегти</button>
    <button type="submit" class="btn btn-primary">Далі</button>
  </div>
</form>
