<div ng-controller="ModalBenefitCtrl">
  <script type="text/ng-template" id="modalBenefit.html">
  </script>

  <button class="btn btn-default top-buffer bottom-buffer" ng-click="open('lg')"><i class="fa fa-plus text-success"></i>
    Додати пiльгу
  </button>
</div>
  <!-- TABLE WITH quotas -->

  <div class="row">
    <div class="col-md-5 text-center">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Тип</th>
          <th class="text-center">Кількість</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td>32.755</td>
          <td>сільська місцевість</td>
          <td>12</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
