<div ng-controller="ModalSubjectCtrl">
  <button class="btn btn-default top-buffer bottom-buffer" ng-click="open('lg')">
    <i class="fa fa-plus text-success"></i> Додати предмет
  </button>



  <div class="row">
    <div class="col-md-11 text-center">

      <table class="table table-bordered table-hover">
        <tr>
          <th>Назва предмета </th>
          <th>Додаткова назва</th>
          <th>Профiльний</th>
          <th>Обов'язковий</th>
          <th>Вага предмета</th>
          <th>Мiнiмальний бал ЗНО</th>
        </tr>
        <tr ng-repeat="subj in entireSpecoffer.subjects">
          <td> {{ subj.subject}} </td>
          <td> {{ subj.addName.name }} </td>
          <td> {{ subj.isMajor }} </td>
          <td> {{ subj.alternative }} </td>
          <td></td>
          <td> {{subj.mark }}</td>
        </tr>

      </table>
    </div>
  </div>
</div>

