<div class="container-fluid">
  <div class="row bottom-buffer">
    <div class="col-md-3">
      <h2><i class="fa fa-file-text text-danger"></i> Нова заява</h2>
    </div>
  </div>


	<!-- main content -->
	<div class="col-sm-12 col-md-12 new-proposal-wrapper">

	  <div>
	    <div class="row">
		    <div class="tabset col-md-9">
    			<tabset>
       	 		<tab 	ng-repeat="t in enrolTabs"
       	 				 	heading="{{t.heading}}"
       	 				 	ng-click="go(t.route)"
       	 				 	ui-sref-active="active">
        		</tab>
    			</tabset>
    			<div ui-view></div>
		    </div>
	    </div>

	    <div class="top-buffer bottom-buffer row">
	      <button ng-click="" type="submit" class="btn btn-primary">Зберегти</button>
	      <button ng-click="" type="submit" class="btn btn-danger">Видалити</button>
	    </div>

	  </div>
	</div>

	<div class="footer">
	</div>

</div>



