<div ng-controller="TabWavesCtrl">
  <button class="btn btn-success top-buffer bottom-buffer" ng-click="open()">
    <i class="fa fa-plus text-default"></i> Додати хвилю
  </button>


  <div class="row">
    <div class="col-md-12 text-center">

      <table class="table table-bordered table-hover" ng-show="viewWaves.length">
        <tr>
          <th> Хвиля</th>
          <th class="text-center">Кількість ліцензованих місць</th>
          <th class="text-center">Кількість місць держзамовлення</th>
          <th class="text-center">Кількість пільгових місць</th>
          <th class="text-center">Кількість цільових місць у хвилі</th>
          <th class="text-center">Дата початку хвилі</th>
          <th class="text-center">Дата закінчення хвилі</th>
          <th></th>
        </tr>
        <tr ng-repeat="wave in viewWaves">
          <td> {{ wave.wavesTypesName}}</td>
          <td>{{wave.licCount}}</td>
          <td> {{wave.stateCount}}</td>
          <td> {{ wave.benefitCount}}</td>
          <td> {{wave.targetCount}}</td>
          <td>{{wave.beginDate}}</td>
          <td>{{wave.endDate }}</td>
          <td class="editing">
            <button class="btn btn-xs btn-danger" ng-click="removeRow($index)"><i class="fa fa-times"></i></button>
            <button class="btn btn-xs btn-warning" ng-click="open(wave, $index )"><i class="fa fa-pencil"></i>
            </button>

          </td>
        </tr>

      </table>
    </div>

  </div>
</div>
