<form ng-controller="tabProposalCtrl" id="movieForm" method="post" name="form_prop">
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="form-group col-md-6 double-input">
          <label for="inputSpecialty">Введіть шифр чи назву напряму/спеціальності</label>
          <specialty-selector ng-model="entireSpecoffer.specoffer.specialtyId" id="inputSpecialty" name="specialty" required val-bubble></specialty-selector>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-5">
        <!--   departmentId    -->
          <label for="inputStructure">Структурний підрозділ</label>
            <ui-select ng-model="entireSpecoffer.specoffer.departmentId"
                     id="inputStructure"
                     name="structure"
                     required val-bubble>
            <ui-select-match placeholder="Оберіть структурний підрозділ">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="item.id as item in departmentId | filter: $select.search">
              <!--departments-->
              <div ng-bind-html="item.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-5">
          <label for="inputOKR">Освітньо-кваліфікаційний рівень</label>
          <select ng-model="entireSpecoffer.specoffer.specofferTypeId"
                  ng-options="opt.id as opt.name for opt in specofferTypesOptions"
                  class="form-control"
                  id="inputOKR"
                  name="inputOKR"
                  required val-bubble>
          </select>
        </div>
      </div>
      <div class="row">
      <!-- timePeriodCourseId -->
        <div class="form-group col-md-5">
          <label for="inputOKR">Курс зарахування</label>
          <select ng-model="entireSpecoffer.specoffer.timePeriodCourseId"
                  ng-options="opt.id as opt.name for opt in timePeriodCourseId"
                  class="form-control"
                  id="inputTimePeriodCourseId"
                  name="inpuTtimePeriodCourseId"
                  required val-bubble>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2 ">
        <!-- docSeries -->
          <label for="inputLicenseS"> Серія ліцензії</label>
          <input ng-model="entireSpecoffer.specoffer.docSeries"
                 type="text"
                 class="form-control"
                 id="inputLicenseS"
                 placeholder="Введiть серiю лiцензiї"
                 name="inputLicenseS"
                 required val-bubble>
        </div>

        <div class="form-group col-md-3 ">
        <!-- docNum -->
          <label for="inputLicenseNumber"> Номер ліцензії</label>
          <input ng-model="entireSpecoffer.specoffer.docNum"
                 type="text"
                 class="form-control"
                 id="inputLicenseNumber"
                 placeholder="Введiть номер лiцензiї"
                 name="inputLicenseNumber"
                 required val-bubble>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3 ">
        <!-- eduFormTypeId -->
          <label for="inputFormStuding">Оберiть форму навчання</label>
          <select ng-model="entireSpecoffer.specoffer.educationFormTypeId"
                  ng-options="opt.id as opt.name for opt in eduFormTypesOptions"
                  id="inputFormStuding"
                  class="form-control"
                  name="inputFormStuding"
                  required val-bubble>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
        <!-- licCount -->
          <label for="inputNumberOfPlaces">Кiлькiсть лiцензованих мiсць</label>
          <input ng-model="entireSpecoffer.specoffer.licCount"
                 type="number"
                 class="form-control "
                 id="inputNumberOfPlaces"
                 placeholder="Введiть кiлькiсть лiцензованих мiсць"
                 name="inputNumberOfPlaces"
                 required val-bubble>
        </div>
        <div class="form-group col-md-3">
        <!-- stateCount -->
          <label for="inputNumberOfStateOrder">Кiлькiсть мiсць держзамовлення</label>
          <input ng-model="entireSpecoffer.specoffer.stateCount"
                 type="number" class="form-control "
                 id="inputNumberOfStateOrder"
                 placeholder="Введiть кiлькiсть мiсць держзамовлення"
                 name="inputNumberOfStateOrder"
                 required val-bubble>
        </div>
      </div>
      <div class="row">

        <div class="col-md-3">
        <!-- begDate -->
          <label class="control-label">Дата початку навчання</label>
            <input type="text"
                  ng-model="entireSpecoffer.specoffer.begDate"
                  datepicker-popup="yyyy-MM-dd"
                  is-open="isOpen"
                  ng-click = "isOpen = true"
                  ng-required="true"
                  close-text="Close"
                  class="form-control"
                  required val-bubble
                  name="begDate"
                  placeholder="РРРР-MM-ДД" />
        </div>
        <div class="col-md-3">
          <!-- endDate -->
          <label class="control-label">Дата закінчення </label>
            <input type="text"
                  ng-model="entireSpecoffer.specoffer.endDate"
                  datepicker-popup="yyyy-MM-dd"
                  is-open="isOpen2"
                  ng-click = "isOpen2 = true"
                  ng-required="true"
                  close-text="Close"
                  class="form-control"
                  required val-bubble
                  name="endDate"
                  placeholder="РРРР-MM-ДД" />
        </div>
      </div>
    </div>
  </div>
</form>
