<div class="container-fluid">
<div class="row bottom-buffer">
  <div class="col-md-5">
    <h2><i class="fa fa-graduation-cap text-danger"></i> Вступна кампанiя 2015 року</h2>
  </div>
</div>
<!-- main content -->
<!-- main content -->

<div class="row">
  <!-- filter -->
  <div class="col-md-2 col-lg-2 filter">

      <h4>Фільтрація</h4>


    <form class="search-around" role="form">
      <div class="form-group">
        <input type="search" class="form-control" id="inputSearch" placeholder="Ключове слово">
      </div>
      <button type="submit" class="btn  btn-sm btn-primary">Шукати</button>
    </form>

    <form class="filter-subjects" role="form">
      <div class="form-group">
        <label for="name">Предмет </label>

        <div class="checkbox">
          <label><input type="checkbox" value="">Філологія</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Математика</label>
        </div>
      </div>
    </form>

    <form class="filter-faculty" class="search-around" role="form">
      <div class="form-group">
        <label for="name">Струк. підрозділи</label>
        <select multiple class="form-control">
          <option>Факультет іноземних мов</option>
          <option>Факультет кібернетики</option>
          <option>Факультет кібернетики</option>
          <option>Інститут прикладної фізики</option>
          <option>Факультет лав</option>
        </select>
      </div>
    </form>

    <p>
      <button type="button" class="btn btn-primary btn-sm">Оновити</button>
      <button type="button" class="btn btn-default btn-sm">Зберегти</button>
    </p>

  </div>
  <!-- end filter -->


  <div class="col-sm-10 col-md-10 content-data" ng-controller = "mainTable">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <button type="button" class="pull-left btn btn-primary"><i class="fa fa-filter "></i></button>

        <a href="#/new-proposal" class="col-md-offset-1">
          <button type="button" class="btn btn-success "><i class="fa fa-plus"></i> Додати пропозицію</button>
        </a>

        <button type="button" class="pull-right btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-bars "></i></button>
      </div>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <ul>
                <li ng-repeat = "header in headers" ng-click = "show[$index] = !show[$index]">
                  <label>
                    <input type= "checkbox" checked>
                          <span>
                            {{header}}</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Table -->
      <table class="table table-bordered table-striped">
      <tr>
        <th><input type="checkbox" id="inlineCheckbox1" value="option1"></label></th>
        <th ng-repeat="header in headers" ng-show = "show[$index]">{{header}}</th>
      </tr>

      <tr ng-repeat="row in rows">
        <th><input type="checkbox" id="inlineCheckbox1" value="option1"></label></th>
        <td ng-show = "show[$index]" ng-repeat="value in row">{{value}}</td>
        <th>
          <a class="edit ml10" href="javascript:void(0)" title="Edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="remove ml10" href="javascript:void(0)" title="Remove">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </th>
      </tr>

      </table>


    </div>


    <div class="row top-buffer bottom-buffer">

        <ul class="pager data-navigation">
          <a href="#">Показано 13 з 321</a>
          <li class="disabled"><a href="#">Назад</a></li>
          <li><a href="#">Вперед</a></li>
        </ul>
    </div>

  </div>


  <div class="footer">
  </div>
</div>
</div>
