<div class="container-fluid">
  <div class="row bottom-buffer">
    <div class="col-md-3">
      <h2><i class="fa fa-graduation-cap text-danger"></i> Вступна кампанiя</h2>
    </div>
    <div class="col-md-3 timeperiod">
      <select class="form-control"
        <option value="" disabled selected>Оберіть вступну кампанію</option>
      </select>
    </div>
    <div class="col-md-3 timeperiod">
      <button type="button" class="btn btn-primary" ng-click="">Обрати</button>
    </div>
  </div>
  
  <!-- main content -->
  <person-table></person-table>

</div>
