<div class="container-fluid">
<div class="row bottom-buffer">
  <div class="col-md-5">
    <h2><i class="fa fa-graduation-cap text-danger"></i> Вступна кампанiя 2015 року</h2>
  </div>
</div>
<!-- main content -->

<div class="row">
  <!-- filter -->
  <div class="col-md-2 col-lg-2 filter">

      <h4>Фільтрація</h4>


    <form class="search-around" role="form">
      <div class="form-group">
        <input type="search" class="form-control" id="inputSearch" placeholder="Ключове слово">
      </div>
      <button type="submit" class="btn  btn-sm btn-primary">Шукати</button>
    </form>

    <form class="filter-subjects" role="form">
      <div class="form-group">
        <label for="name">Предмет </label>

        <div class="checkbox">
          <label><input type="checkbox" value="">Філологія</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Математика</label>
        </div>
      </div>
    </form>

    <form class="filter-faculty" class="search-around" role="form">
      <div class="form-group">
        <label for="name">Струк. підрозділи</label>
        <select multiple class="form-control">
          <option>Факультет іноземних мов</option>
          <option>Факультет кібернетики</option>
          <option>Факультет кібернетики</option>
          <option>Інститут прикладної фізики</option>
          <option>Факультет лав</option>
        </select>
      </div>
    </form>

    <p>
      <button type="button" class="btn btn-primary btn-sm">Оновити</button>
      <button type="button" class="btn btn-default btn-sm">Зберегти</button>
    </p>

  </div>
  <!-- end filter -->


  <div class="col-sm-10 col-md-10 content-data">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <button type="button" class="pull-left btn btn-primary"><i class="fa fa-filter "></i></button>

        <a href="#/new-proposal" class="col-md-offset-1">
          <button type="button" class="btn btn-success "><i class="fa fa-plus"></i> Додати пропозицію</button>
        </a>
        <button type="button" class="pull-right btn btn-primary"><i class="fa fa-bars "></i></button>
      </div>

      <!-- Table -->

      <!--<table class="table table-bordered table-striped">-->
      <!--<tr>-->
        <!--<th><input type="checkbox" id="inlineCheckbox1" value="option1"></label></th>-->
        <!--<th>Спеціальність <i class="fa fa-caret-down"></i></th>-->
        <!--<th>Структурний підрозділ <i class="fa fa-caret-down"></i></th>-->
        <!--<th>Форма <i class="fa fa-caret-down"></i></th>-->
        <!--<th>ОРК <i class="fa fa-caret-down"></i></th>-->
        <!--<th>Серія ліцензії <i class="fa fa-caret-down"></i></th>-->
        <!--<th>№ ліцензії <i class="fa fa-caret-down"></i></th>-->
        <!--<th>Форма навчання <i class="fa fa-caret-down"></i></th>-->
        <!--<th>Кількість ліцензованих місць <i class="fa fa-caret-down"></i></th>-->
        <!--<th>Кількість місць держзамовлення <i class="fa fa-caret-down"></i></th>-->
        <!--<th>Дата початку</th>-->
        <!--<th>Дата закінчення</th>-->
        <!--<th>-->

        <!--</th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th><input type="checkbox" id="inlineCheckbox1" value="option1"></label></th>-->
        <!--<td>Філологія</td>-->
        <!--<td>Факультет фiлософії</td>-->
        <!--<td>?????</td>-->
        <!--<td>Бакалавр</td>-->
        <!--<td>РЛ</td>-->
        <!--<td>3749328</td>-->
        <!--<td>Денна</td>-->
        <!--<td>43</td>-->
        <!--<td>12</td>-->
        <!--<td>01.09.2015</td>-->
        <!--<td>24.06.2019</td>-->
        <!--<th>-->
          <!--<a class="edit ml10" href="javascript:void(0)" title="Edit">-->
            <!--<i class="glyphicon glyphicon-edit"></i>-->
          <!--</a>-->
          <!--<a class="remove ml10" href="javascript:void(0)" title="Remove">-->
            <!--<i class="glyphicon glyphicon-remove"></i>-->
          <!--</a>-->
        <!--</th>-->
      <!--</tr>-->

      <!--</table>-->
      <div ng-controller="PaginationCtrl">

        <table ng-table="tableParams" class="table">

          <tr ng-repeat="prop in $data">

            <td data-title="'specialityID'">{{prop.specialityID}}</td>
            <td data-title="'departmentID'">{{prop.departmentID}}</td>
            <td data-title="'timePeriodId'">{{prop.timePeriodId}}</td>
            <td data-title="'specofferTypeId'">{{prop.specofferTypeId}}</td>
            <td data-title="'docSeries'">{{prop.docSeries}}</td>
            <td data-title="'docNum'">{{prop.docNum}}</td>
            <td data-title="'eduFormTypeId'">{{prop.eduFormTypeId}}</td>
            <td data-title="'licCount'">{{prop.licCount}}</td>
            <td data-title="'stateCount'">{{prop.stateCount}}</td>
            <td data-title="'begDate'">{{prop.begDate}}</td>
            <td data-title="'endDate'">{{prop.endDate}}</td>
            <td data-title="'parentId'">{{prop.parentId}}</td>

          </tr>


        </table>

      </div>

    </div>


    <div class="row top-buffer bottom-buffer">

        <ul class="pager data-navigation">
          <a href="#">Показано 13 з 321</a>
          <li class="disabled"><a href="#">Назад</a></li>
          <li><a href="#">Вперед</a></li>
        </ul>
    </div>

  </div>


  <div class="footer">
  </div>
</div>
</div>
