<div class=" content-header">
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li><a href="#/">Пропозицiї ВУЗу</a></li>
      <li class="active">Нова пропозиція</li>
    </ol>
    <h2 class="content-header-title top-buffer bottom-buffer"><i class="fa fa-graduation-cap text-danger  "></i>
      Додавання пропозицiї</h2>
  </div>
</div>

<!-- main content -->
<div class="col-sm-12 col-md-12 new-proposal-wrapper">
  <div class="row">
    <div ng-controller="ProgressBarCtrl">
      <p class="text-center col-md-6">
        <progressbar value="progressBarPercent" type="{{type}}">Заповнено на: {{progressBarPercent}}%</progressbar>
      </p>
      <p class="text-center col-md-3 text-danger">
        {{propositionMessage}}
      </p>

    </div>
  </div>


  <div ng-controller="TabsCtrl">
    <div class="row">
    <div class="tabset col-md-9">
    <tabset > <!-- directive tabs set-->
      <tab heading="Пропозицiї">
        <div class="top-buffer" ng-include="'views/tabs/tab_proposition.html'"></div>
        <!--  -->
      </tab>
      <tab heading="Предмети">
        <div class="top-buffer" ng-include="'views/tabs/tab_subject.html'"></div>
      </tab>
      <tab heading="Пiльги">
        <div class="top-buffer" ng-include="'views/tabs/tab_benefit.html'"></div>
      </tab>
    </tabset>
    </div>
    </div>
    <div class="top-buffer bottom-buffer row">
      <button type="submit" class="btn btn-primary">Зберегти</button>
    </div>
  </div>
</div>


<div class="footer">
</div>
